#add-btn:hover{
     color: #ffffff;
     background-color: #d6d6d6;
}
#add-btn{
     border: none;
     padding: 0;
     transition: 0.2s;
     outline:none;
     background-color: transparent;
     border-radius: 50%;
     text-align: center;
}