<div 
id="toaster"
class="d-none d-flex justify-content-center align-items-center p-2"
style="position: fixed;right: 10px;bottom: 10px;border-radius: 4px;background-color: #ededeb;width:150px;">
     <div id="toast-spinner" style="color:#ff0000" 
     class="spinner-border spinner-border-sm spinner-border-primary">
     </div>
     <div id="toast-msg">
          Uploading...
     </div>
</div>
