<div
class=" d-flex p-2"
style="width: auto;overflow: auto;"
id="main-container"
data-activecontainer="today-activity-container"
>
     <%- include('./todayactivitycontainer.ejs',{data}) %>
     <%- include('../../staffview/component/roomcontainer.ejs',{data}) %>

</div>