<div class="border p-1 border-primary column" style="height: inherit;width: 200px;">
     <%- include('../../commonview/component/mulogo.ejs',{faculty : data.faculty}) %>          
     <%- include('./todayactivitybutton.ejs') %>
     <%- include('./roomselector.ejs',{data}) %>
     <%- include('../../commonview/component/logoutbtn.ejs') %>
</div>