<div>
     <button 
     data-type="today-activity-container"
     data-name="change-container"
     class="my-2 btn btn-primary" 
     style="text-align: left;width: 150px;border:none;">
          Today activity
     </button>
</div>