<div 
id="today-activity-container"
style="overflow: auto;"
class="border border-primary p-2"
>
     <div>
          <table class="table table-primary table-separated">
               <thead>
                    <tr>
                    <% data.todayActivity.time.forEach(({startHour,endHour})=>{ %>
                         <th>
                              <div class="d-flex" >
                                   <input 
                                   style="border: none;background-color: transparent;"
                                   type="time" disabled value="<%= startHour%>" >
                                   <input 
                                   style="border: none;background-color: transparent;"
                                   type="time" disabled value="<%= endHour%>" >
                              </div>
                              
                         </th>
                    <% }) %>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                    <% data.todayActivity.routine.forEach(({subject,staff})=>{ %>
                         <td>
                              <div class="border border-mute">
                                   <%= subject %>
                                   <br>
                                   <%= staff.staffName %>
                              </div>
                         </td>
                    <% }) %>
                    </tr>
               </tbody>
          </table>
     </div>
</div>
