<div class="d-flex align-items-center flex-column">
     <img
     class="img-fluid d-inline-block" 
     height="32"
     width="32" 
     src="http://localhost:3000/static/mwu-logo.png" alt="mu logo" />
     <span><%= faculty %></span>
</div>

