<div 
hidden
id="room-container" 
class="p-2">
<div>
          <input 
          placeholder="Untitled"
          id="room-title-field" />
     </div>
     <div id="routine-container"
     class="border borxer-primary"
     >
     </div>
</div>