<div class="border p-1 border-primary column" style="height: inherit;width: 200px;">
     <%- include('./mulogo.ejs',{faculty : testData.faculty}) %>          
     <%- include('./todayactivitybutton.ejs') %>
     <%- include('./room.ejs',{testData}) %>
</div>