<div class="border p-1 border-primary column" style="height: inherit;width: 200px;">
     <%- include('./mulogo.ejs',{faculty : data.faculty}) %>          
     <%- include('./todayactivitybutton.ejs') %>
     <%- include('./roomlist.ejs',{data}) %>
</div>