<div 
data-activecontainer="today-activity-container"
id="main-container" class="border border-secondary column"
style=" height: 100%;overflow: auto;"
>
     <%- include('../../commonview/component/todayactivitycontainer.ejs')  %>
     <%- include('../../commonview/component/roomcontainer.ejs') %>
</div>