<div
class="border border-primary d-flex p-2"
style="width: auto;overflow: auto;"
id="main-container"
data-activecontainer="today-activity-container"
>
     <%- include('../../commonview/component/todayactivitycontainer.ejs',{data}) %>
     <%- include('../component/roomcontainer.ejs',{data}) %>

</div>