<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Recover password</title>
     <script src="script/utils/showandhidepassword.js" async defer></script>
     <script src="script/utils/checkanduncheckbox.js" async defer ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
     html{
         height: 100%;
         position: relative;
         width: 100%;
         }
     body{
         height: inherit;
         position: absolute;
         width: inherit;
     }
 </style>
</head>
<body>
     <div style="height:inherit ;" class="container-fluid  d-flex align-items-center justify-content-center">
          <form id="admin-login-form" class="border border-mute border-1 p-4" style="border-radius:6px ;width:40%;"> 
              <div class="mb-4">
                  <h3 class="h3">Recover password</h3>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label fw-bold text-muted">
                      Email address
                  </label>
                  <input id="email" placeholder="email" class="form-control" type="text" name="email" />
                  <span hidden class="text-danger" id="email-span">email address is invalid!</span>
              </div>
              <div class="mb-3">
               <label for="email" class="form-label fw-bold text-muted">
                   Code
               </label>
               <input id="email" placeholder="code" class="form-control" type="text" name="email" />
               <span hidden class="text-danger" id="email-span">email address is invalid!</span>
           </div>
              <!-- <div class="mb-3">
                  <label for="password" class="form-label fw-bold text-muted">
                      New password
                  </label>
                  <input id="password-field" type="password"
                  placeholder="new password"
                  class="form-control" name="password" />
                  <span hidden class="text-danger" id="password-span">password is invalid!</span>
              </div>
              <div class="mb-3">
               <label for="password" class="form-label fw-bold text-muted">
                   Confirm password
               </label>
               <input id="password-field" type="password" 
               placeholder="confirm password"
               class="form-control" name="password" />
               <span hidden class="text-danger" id="password-span">password is invalid!</span>
           </div>
              <div class="form-check mb-3">
                  <input  id="control-password-field" class="form-check-input" type="checkbox" value="" id="show-password">
                  <label class="form-check-label" for="show-password">
                    Show password
                  </label>
                </div> -->
              <div class ="form-check mb-3">
                  <input name="staff-checkbox" id="staff-checkbox" class="form-check-input" type="checkbox" >
                  <label>Staff</label>
                  </div>
                  <div class="form-check mb-3">
                  <input name="student-checkbox" checked id="student-checkbox" class="form-check-input" type="checkbox" >
                  <label>Student</label>
              </div>
              <button class="btn btn-primary mt-3">Verify code</button>
          </form>
  
      </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>